:root {
    --cor-detalhe-escura: #17968b;
    --cor-detalhe-media: #18c4bb;
    --cor-detalhe-clara: #189676;

    --cor-neutra-clara: #EEEEEE;
    --cor-neutra-media: #888888;
    --cor-neutra-escura: #222222;

    --cor-links: #00aeff;
}

body {
    background-color: var(--cor-neutra-clara);
    color: var(--cor-neutra-escura);
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

nav {
    background-color: var(--cor-detalhe-media);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

.navlist li {
    padding-left: 0.5rem;
}

.titulonav {
    font-size: 1.5rem;
    color: var(--cor-neutra-clara);
    text-decoration: none;
    font-weight: bold;
}

.navlink {
    text-decoration: none;
    color: var(--cor-neutra-media);
    border-bottom: 3px solid var(--cor-detalhe-clara);
    padding-bottom: 0.4rem;
    transition: 0.5s
}

.navlink:hover {
    background-color: var(--cor-neutra-clara);
    color:var(--cor-links);
    border-bottom: 3px solid var(--cor-links);
}


