:root {
    --cor-detalhe-escura: #660000;
    --cor-detalhe-media: #990000;
    --cor-detalhe-clara: #CC0000;

    --cor-neutra-clara: #EEEEEE;
    --cor-neutra-media: #888888;
    --cor-neutra-escura: #222222;

    --cor-links: #FF3300;
}

body {
    background-color: var(--cor-neutra-clara);
    color: var(--cor-neutra-escura);
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--cor-detalhe-media);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding-left: 0.25rem;
}