:root {
    --cor-detalhe-escura: #0c413c;
    --cor-detalhe-media: #18c4bb;
    --cor-detalhe-clara: #189676;

    --cor-neutra-clara: #EEEEEE;
    --cor-neutra-media: #888888;
    --cor-neutra-escura: #222222;

    --cor-links: #00aeff;
}

body {
    background-color: var(--cor-neutra-clara);
    color: var(--cor-neutra-media);
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

nav {
    background-color: var(--cor-detalhe-media);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

.navlist li {
    padding-left: 0.5rem;
}

.titulonav {
    font-size: 1.5rem;
    color: var(--cor-neutra-clara);
    text-decoration: none;
    font-weight: bold;
}

.navlink {
    text-decoration: none;
    color: var(--cor-neutra-escura);
    border-bottom: 3px solid var(--cor-detalhe-clara);
    padding-bottom: 0.4rem;
    transition: 0.5s
}

.navlink:hover {
    background-color: var(--cor-neutra-clara);
    color:var(--cor-links);
    border-bottom: 3px solid var(--cor-links);
}

 .area-titulo{
background-color: var(--cor-neutra-escura);
padding: 1rem;
 }

 .titulo-1 {
     color:var(--cor-neutra-clara);
 }

 .titulo-2{
     color: var(--cor-detalhe-media);
 }

.conteudo{
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius:10px;
    border: 1px solid var(--cor-detalhe-media);
    margin:1rem;
    clear: both;
    min-height: 395px;
}
.foto{
    width: 480px;
    height: 270px;
    float: left;
    margin: 0 15px 15px 0;
    
}

figcaption {
    font-size: 0.75rem;
    font-style: italic;
    float: left;
    clear: both;
    width: 480px;
}

.varias{
    width: 160px;
    height: 270px;
    float: left;
    margin:0;
}

figure{
    float: left;
    margin: 0 15px 5px 0;
}

.rodape{
    background-color: var(--cor-detalhe-media);
    color:var(--cor-neutra-clara);
    height:100px;
    display: flex;
    align-items: center;
}

.video {
    width: 480px;
    height: 270px;
    float: left;
    margin: 0 15px 5px 0;
}

.mapa {
    width: 50%;
}

table {
    width: 80%;
    background-color: var(--cor-neutra-clara);
    border: 1px solid var(--cor-neutra-media);
    margin: auto;
    border-collapse: collapse;
}

th {
    border: 1px solid var(--cor-neutra-media);
    background-color: var(--cor-detalhe-escura);
    color: var(--cor-neutra-clara);
    padding: 5px;
}

tr {
    border: 1px solid var(--cor-neutra-media);
}

td {
    border: 1px dashed var(--cor-neutra-media);
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #D3D3D3;
}

tr:hover {
    background-color: var(--cor-links);
    color: var(--cor-neutra-clara);
}

.conteudo-formulario {
    display: grid;
    grid-template-columns: 2;
    gap: 0.5rem;
    width: 70%;
    margin: 0 auto;


}

.formulario-label {
    grid-column: 2;
    justify-self: flex-end;
}

.formulario-caixa {
    grid-column: 2;
    padding: 0,5rem;
    outline: none;
}

.formulario-caixa:focus{
    border: 1px solid var(--cor-detalhe-escura);
}

.formulario-grupo {
    grid-column: span 2;
    border: none;
    padding: 0;
}

.formulario-area-botoes {
    padding: 1rem;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

.formulario-area-botoes button{
    padding: 00.75rem;
    font-size: 1,125rem;
    background-color: #189676;
    color: #0c413c;
    border: 2px solid var(--cor-detalhe-clara);
    border-radius: 0.25rem;

}

.texto-rodape{
    font-size: 1.125rem;
    padding: 1rem;
}


